*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #0084fd;
    --celeste: #b5ddff;
    --white: white;
    --viola: #9792e4;
}


header{
    background-color: var(--blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: var(--white);
}

.container{
    max-width: 600px;
    margin: auto;
}

.dflex{
    display: flex;
}

.spacebetween{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.box{
    padding: 1rem;
}

main{
    padding-top: 100px;
}

#demo .card{
    margin-bottom: 1rem;
    border-radius: 20px;
}

#demo .cards{
    margin: 2rem 0;
}

.celeste{
    background-color: var(--celeste);
}

#strategic{
    background-color:var(--viola);
    padding: 2rem 0;
}


#partner{
    padding: 2rem 0;
}

#partner .card{
    margin: 2rem 0;
}

.violet{
    background-color: var(--viola);
}

.white{
    background-color: white;
}

#benefits{
    padding: 3rem 0;
}


#benefits .card{
    margin-top: 1rem;
    margin-bottom: 1rem;
}




/*media*/

@media screen and (min-width: 768px) {
    .container{
        max-width: 740px;
    }

    #demo .cards{
        display: flex;
        flex-wrap: wrap;
        margin-right: 0.50rem;
        margin-left: 0.50rem;
    }

    #demo .card{
        width: calc((100% / 3) - 1rem);
        margin-right: 0.50rem;
        margin-left: 0.50rem;
    }

    #demo .big{
        width: calc((100% / 3 * 2) - 1rem);
    }

    #partner .card{
        display: flex;
    }
    
    #partner .card div:last-child {
        flex-grow: 1
    }

    #benefits .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    #benefits .card{
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 2) - 2rem);
    }
    
    #about .columns{
        display: flex;
    }

    #about .column1{
        width: 70%;
    }

    #about .column2{
        width: 30%;
    }
}

@media screen and (min-width: 992px) {
    .container{
        max-width: 960px;
    }

    .cards .big{
        display: flex;
    }

    .cards .big > div{
        width: 50%;
    }

    #strategic .columns{
        display:flex;
        padding: 0 6rem;
        align-items: flex-end;
    }

     #strategic .column{
        width: calc(50% - 1rem);
        margin: 0.5rem;
    }

    #benefits .card{
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 3) - 2rem);
    }
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
}