*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
:root{
    --blue: #0084fd;
    --celeste: #b5ddff;
    --white: white;
    --viola: #9792e4;
    --grigio: #333333;
    --nero: black;
}

.container{
    max-width: 600px;
    margin: auto;
}

.dflex{
    display: flex;
}

.spacebetween{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.box{
    padding: 1rem 0.5rem;
}

.celeste{
    background-color: var(--celeste);
}

.violet{
    background-color: var(--viola);
}

.bgwhite{
    background-color: white;
}

.text-center{
    text-align: center;
}

.bgblue{
    background-color: var(--blue);
    color: var(--white);
}

.white{
    color: var(--white);
}

.border-radius{
    border-radius: 20px;
}

/* fine common */

/* inizio header */
header{
    background-color: var(--blue);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    color: var(--white);
}

nav{
    padding: 10px 0px;
}

header ul{
   list-style: none;
   display: none;
}

.button{
    padding: 5px 10px;
    border-radius: 15px;
}

.black{
    color: var(--nero);
}

/* fine header */


/*main*/
main{
    padding-top: 100px;
}

#demo .card{
    margin-bottom: 1rem;
    border-radius: 20px;
}

#demo .cards{
    margin: 2rem 0;
}

#demo img{
    width: 50%;
    padding-top: 20px;
}

.justify-center{
    justify-content: center;
}

.card i{
    font-size: 40px;
    color: var(--blue);
}

#demo h3{
    color: var(--blue);
}
#demo .card .fa-apple{
    font-size: 20px;
    color: var(--white);
}

#demo a{
    text-decoration: none;
}
#strategic{
    background-color:var(--viola);
    padding: 2rem 0;
}

#strategic img{
    width: 60%;
}

.border50{
    border-radius: 50%;
}


#partner{
    padding: 2rem 0;
}

#partner .card{
    margin: 2rem 0;
    
}


#partner img{
    width: 40%;
    margin: 20px;
}

#partner h1{
    color: var(--viola);
}


#benefits{
    padding: 3rem 0;
}

#about .columns{
    padding: 30px 0px;
}
#benefits .card{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#download .text-center{
    padding: 30px 0px;
}
/*fine main*/

/* footer */
footer{
    background-color: var(--grigio);
    color: var(--white);
    padding: 20px 0px;
}
/* fine footer */

/*media*/
@media screen and (min-width: 768px) {
    .container{
        max-width: 740px;
    }

    #demo .cards{
        display: flex;
        flex-wrap: wrap;
    }

    #demo .card{
        width: calc((100% / 3) - 1rem);
        margin-right: 0.50rem;
        margin-left: 0.50rem;
    }

    #demo .big{
        width: calc((100% / 3 * 2) - 1rem);
    }


    .start{
        text-align: start;

    }
    #partner .card{
        display: flex;
    }
    
    #partner .partner-text{
        width: 70%;
        text-align: start;
        padding: 30px 0px;
    }
    
    #partner .partner-img{
        width: 30%;
    }

    #partner img{
        width: calc(100% - 20px);
        
    }

    #benefits .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    #benefits .card{
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 2) - 2rem);
    }
    
    #about .columns{
        display: flex;
    }

    #about .column1{
        width: 70%;
    }

    #about .column2{
        width: 30%;
    }
}

@media screen and (min-width: 992px) {

    header ul{
        display: flex;
    }

    ul li a{
        text-decoration: none;
        color: var(--white);
        padding: 0px 10px;
    }

    .dnone{
        display: none;
    }

    #demo img{
        width: 70%;
    }

    .container{
        max-width: 960px;
    }

    .cards .big{
        display: flex;
    }

    .cards .big > div{
        width: 50%;
    }

    #strategic .columns{
        display:flex;
        padding: 0 6rem;
        align-items: flex-end;
    }

     #strategic .column{
        width: calc(50% - 1rem);
        margin: 0.5rem;
    }

    #benefits .card{
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 3) - 2rem);
    }
}

@media screen and (min-width: 1200px){
    .container{
        max-width: 1170px;
    }
}

